*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.5; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.primary-heading {
  font-size: 4rem;
  font-weight: normal; }
  .primary-heading--sub {
    font-size: 2rem; }

.secondary-heading {
  color: #142850;
  font-size: 3.5rem;
  text-align: center; }

.paragraph {
  font-size: 2rem;
  color: #333;
  font-weight: 400; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 6rem !important; }

.hero-box {
  color: #e9d9d9;
  height: 90vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(86, 67, 250, 0.8)), url("../img/clouds-dawn-dusk-electricity-157039.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .hero-box__logos {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .hero-box__logos .logo {
      width: 15rem;
      height: 15rem; }
      .hero-box__logos .logo--1 {
        width: 15rem;
        height: 15rem; }
      .hero-box__logos .logo--2 {
        width: 15rem;
        height: 15rem; }
  .hero-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero-box__dates {
    font-size: 2rem;
    margin: 2rem 0rem;
    font-weight: 400; }
    .hero-box__dates span {
      font-weight: 700; }
  .hero-box__venue {
    font-size: 2rem;
    font-weight: 400; }
    .hero-box__venue span {
      font-weight: 700; }

.about {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 5rem; }

.navbar {
  min-height: 10vh;
  background: white;
  color: #142850;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem; }

.header-box {
  height: 100vh; }

.section-about {
  height: 100vh;
  padding: 8rem 10rem; }
