*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 56.5%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.5; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.primary-heading {
  font-size: 3.6rem;
  font-weight: normal; }
  @media only screen and (min-width: 1800px) {
    .primary-heading {
      font-size: 4rem; } }
  @media only screen and (max-width: 900px) {
    .primary-heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 400px) {
    .primary-heading {
      font-size: 2rem; } }
  .primary-heading--sub {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 500;
    margin: 1rem 0rem; }
    @media only screen and (min-width: 1800px) {
      .primary-heading--sub {
        font-size: 3rem; } }
    @media only screen and (max-width: 400px) {
      .primary-heading--sub {
        font-size: 2.2rem; } }
    .primary-heading--sub .sub--3 {
      display: block;
      margin: 0.5rem 0rem; }
      @media only screen and (min-width: 1800px) {
        .primary-heading--sub .sub--3 {
          font-size: 3rem; } }
    @media only screen and (min-width: 1800px) {
      .primary-heading--sub .sub--1 {
        font-size: 3rem; } }
    @media only screen and (max-width: 600px) {
      .primary-heading--sub .sub--1 {
        display: block;
        margin: 0.5rem 0rem; } }
    @media only screen and (min-width: 1800px) {
      .primary-heading--sub .sub--2 {
        font-size: 3rem; } }
    @media only screen and (max-width: 600px) {
      .primary-heading--sub .sub--2 {
        display: block;
        margin: 0.5rem 0rem; } }

.secondary-heading {
  color: #142850;
  font-size: 3.5rem;
  text-align: center; }
  @media only screen and (min-width: 1800px) {
    .secondary-heading {
      font-size: 4rem; } }
  @media only screen and (max-width: 900px) {
    .secondary-heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 600px) {
    .secondary-heading {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 400px) {
    .secondary-heading {
      font-size: 2.2rem; } }

.paragraph {
  font-size: 2rem;
  color: #333;
  font-weight: 400; }
  @media only screen and (min-width: 1800px) {
    .paragraph {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 600px) {
    .paragraph {
      font-size: 1.8rem; } }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 6rem !important; }

.hero-box {
  color: #e9d9d9;
  height: 90vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(86, 67, 250, 0.8)), url("../img/clouds-dawn-dusk-electricity-157039.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .hero-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero-box__dates {
    font-size: 2.2rem;
    margin: 2rem 0rem;
    font-weight: 400;
    text-align: center; }
    .hero-box__dates span {
      font-weight: 700; }
      @media only screen and (max-width: 600px) {
        .hero-box__dates span {
          display: block; } }
  .hero-box__venue {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center; }
    .hero-box__venue span {
      font-weight: 700; }
      @media only screen and (max-width: 600px) {
        .hero-box__venue span {
          display: block; } }

.navbar {
  min-height: 10vh;
  background: white;
  color: #142850;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem; }

.header-box {
  height: 100vh; }

.section-about {
  max-width: 114rem;
  margin: 0 auto;
  height: 100vh;
  padding: 8rem 10rem; }
  @media only screen and (min-width: 1800px) {
    .section-about {
      padding: 10rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .section-about {
      width: 90%;
      margin: 0 auto;
      padding: 8rem 5rem; } }
  @media only screen and (max-width: 400px) {
    .section-about {
      padding: 8rem 2rem; } }
