*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 56.5%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.5; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.primary-heading {
  font-size: 3.6rem;
  font-weight: normal; }
  @media only screen and (min-width: 1800px) {
    .primary-heading {
      font-size: 4rem; } }
  @media only screen and (max-width: 900px) {
    .primary-heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 400px) {
    .primary-heading {
      font-size: 2rem; } }
  .primary-heading--sub {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 500;
    margin: 1rem 0rem; }
    @media only screen and (min-width: 1800px) {
      .primary-heading--sub {
        font-size: 3rem; } }
    @media only screen and (max-width: 400px) {
      .primary-heading--sub {
        font-size: 2.2rem; } }
    .primary-heading--sub .sub--3 {
      display: block;
      margin: 0.5rem 0rem; }
      @media only screen and (min-width: 1800px) {
        .primary-heading--sub .sub--3 {
          font-size: 3rem; } }
    @media only screen and (min-width: 1800px) {
      .primary-heading--sub .sub--1 {
        font-size: 3rem; } }
    @media only screen and (max-width: 600px) {
      .primary-heading--sub .sub--1 {
        display: block;
        margin: 0.5rem 0rem; } }
    @media only screen and (min-width: 1800px) {
      .primary-heading--sub .sub--2 {
        font-size: 3rem; } }
    @media only screen and (max-width: 600px) {
      .primary-heading--sub .sub--2 {
        display: block;
        margin: 0.5rem 0rem; } }

.secondary-heading {
  color: #142850;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 2rem; }
  @media only screen and (min-width: 1800px) {
    .secondary-heading {
      font-size: 4rem; } }
  @media only screen and (max-width: 900px) {
    .secondary-heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 600px) {
    .secondary-heading {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 400px) {
    .secondary-heading {
      font-size: 2.2rem; } }

.paragraph {
  font-size: 2rem;
  color: #333;
  font-weight: 400; }
  @media only screen and (min-width: 1800px) {
    .paragraph {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 600px) {
    .paragraph {
      font-size: 1.8rem; } }

.tertiary-heading {
  font-size: 1.5rem;
  color: #333; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 6rem !important; }

.hero-box {
  color: #e9d9d9;
  height: 90vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(86, 67, 250, 0.8)), url("../img/clouds-dawn-dusk-electricity-157039.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .hero-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero-box__dates {
    font-size: 2.2rem;
    margin: 2rem 0rem;
    font-weight: 400;
    text-align: center; }
    .hero-box__dates span {
      font-weight: 700; }
      @media only screen and (max-width: 600px) {
        .hero-box__dates span {
          display: block; } }
  .hero-box__venue {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center; }
    .hero-box__venue span {
      font-weight: 700; }
      @media only screen and (max-width: 600px) {
        .hero-box__venue span {
          display: block; } }

.date_cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem; }

.date-box {
  height: 20rem;
  width: 25rem;
  background-color: #f6f6f6;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(20, 40, 80, 0.12);
  transition: transform .3s;
  margin-right: 2rem;
  margin-top: 2.5rem; }
  .date-box__icon {
    text-align: center;
    fill: #27496d;
    width: 10rem;
    height: 10rem; }
  .date-box__text {
    margin-bottom: 0.5rem;
    font-size: 2rem; }
  .date-box:hover {
    transform: translateY(-1rem) scale(1.03); }

.table {
  width: 50vw;
  margin: 0 auto; }
  @media only screen and (max-width: 900px) {
    .table {
      width: 90%;
      margin: auto; } }

.table-body {
  width: 100%;
  border: 1px solid brown; }
  .table-body__cell {
    border: 1px solid brown; }
    .table-body__cell p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem; }
    .table-body__cell--1 {
      font-size: 2rem;
      flex: 0 0 60%;
      margin-right: 1rem; }
      @media only screen and (max-width: 900px) {
        .table-body__cell--1 {
          font-size: 1.8rem; } }
    .table-body__cell--2 {
      font-size: 2rem;
      flex: 1;
      margin-right: 1rem; }
      @media only screen and (max-width: 900px) {
        .table-body__cell--2 {
          font-size: 1.8rem; } }
    .table-body__cell--3 {
      font-size: 2rem;
      flex: 1; }
      @media only screen and (max-width: 900px) {
        .table-body__cell--3 {
          font-size: 1.8rem; } }

.table__note {
  margin-top: 1rem;
  font-size: 1.5rem; }

.navbar {
  width: 100%;
  min-height: 10vh;
  background: #142850;
  font-size: 1.75rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem; }
  .navbar__left ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; }
  .navbar__left li {
    transform: translate(2rem, 0);
    float: left; }
  .navbar__right ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden; }
  .navbar__right li {
    transform: translate(-5rem, 0);
    float: right; }
  @media only screen and (max-width: 600px) {
    .navbar__right {
      display: none; } }
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
    .navbar li a:hover {
      background-color: #27496d; }
  .navbar__icon {
    display: none;
    color: white;
    font-size: 2rem;
    padding: 14px 16px; }
    @media only screen and (max-width: 600px) {
      .navbar__icon {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-2rem, 0);
        display: block; } }
  @media only screen and (max-width: 600px) {
    .navbar__responsive li {
      display: block;
      transform: translate(0, 0);
      position: relative;
      float: none; } }
  @media only screen and (max-width: 600px) {
    .navbar__responsive .navbar__icon {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-2rem, 0);
      display: block; } }
  @media only screen and (max-width: 600px) {
    .navbar__responsive .navbar__right {
      float: none;
      display: block; } }

.footer {
  color: #e9d9d9;
  background-color: #3b3b3b; }
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 114rem;
    margin: 0 auto; }
    .footer__links li {
      padding: 2rem 0rem; }
    .footer__links a {
      text-transform: uppercase;
      font-size: 1.7rem;
      color: #e9d9d9; }
      @media only screen and (max-width: 900px) {
        .footer__links a {
          font-size: 1.5rem; } }
      .footer__links a:hover {
        color: #2998ff; }
  .footer__copyright {
    color: #e9d9d9;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    text-align: center; }
    @media only screen and (max-width: 900px) {
      .footer__copyright {
        font-size: 1.5rem; } }

.header-box {
  height: 100vh; }

.section-about {
  max-width: 114rem;
  margin: 0 auto;
  padding: 4rem 8rem; }
  @media only screen and (min-width: 1800px) {
    .section-about {
      padding: 10rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .section-about {
      width: 90%;
      margin: 0 auto;
      padding: 8rem 5rem; } }
  @media only screen and (max-width: 400px) {
    .section-about {
      padding: 8rem 2rem; } }

.section-dates {
  max-width: 114rem;
  margin: 0 auto;
  padding: 2rem 8rem; }

.committee {
  max-width: 114rem;
  margin: 0 auto;
  padding: 2rem 10rem; }
  @media only screen and (max-width: 600px) {
    .committee {
      padding: 2rem 6rem; } }
  @media only screen and (max-width: 400px) {
    .committee {
      padding: 2rem 3rem; } }
  .committee__group {
    margin: 2rem 0rem; }
  .committee__name {
    font-size: 2.7rem;
    font-weight: 400; }
    @media only screen and (max-width: 400px) {
      .committee__name {
        font-size: 2.4rem;
        font-weight: 700; } }
  .committee__names {
    font-size: 1.8rem;
    padding-left: 2rem; }
    @media only screen and (max-width: 400px) {
      .committee__names {
        margin-top: 0.5rem;
        padding-left: 0.4rem;
        font-weight: 400; } }

.contact {
  max-width: 114rem;
  margin: 0 auto;
  height: 70vh; }
  @media only screen and (max-width: 600px) {
    .contact {
      height: 70vh; } }
  @media only screen and (max-width: 400px) {
    .contact {
      height: 70vh; } }
  .contact__info {
    margin: 0 auto;
    font-size: 2.7rem;
    margin-top: 10rem;
    width: max-content; }
    @media only screen and (max-width: 600px) {
      .contact__info {
        width: 65%;
        font-size: 2rem; } }
    @media only screen and (max-width: 400px) {
      .contact__info {
        width: 65%;
        font-size: 2rem; } }
  .contact__name {
    font-size: 3.5rem;
    font-weight: 400; }
    @media only screen and (max-width: 600px) {
      .contact__name {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 400px) {
      .contact__name {
        font-size: 2rem; } }
  .contact__email {
    font-weight: 400; }
  .contact__phno {
    font-weight: 400; }

.location {
  max-width: 114rem;
  margin: 0 auto; }
  .location__info {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    font-size: 2.7rem; }
    @media only screen and (max-width: 600px) {
      .location__info {
        font-size: 2.4rem; } }
    @media only screen and (max-width: 400px) {
      .location__info {
        font-size: 2rem; } }
  .location__map {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 3rem; }
    .location__map iframe {
      width: 100%;
      height: 30rem; }
  .location b {
    font-size: 3rem; }
    @media only screen and (max-width: 600px) {
      .location b {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 400px) {
      .location b {
        font-size: 2.1rem; } }
  .location__gallery {
    margin-bottom: 3rem; }
    .location__gallery img {
      width: 100%;
      margin: 0 auto; }
    .location__gallery a {
      cursor: pointer;
      position: absolute;
      transform: translate(0, 25rem);
      width: auto;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0; }
      @media only screen and (max-width: 600px) {
        .location__gallery a {
          transform: translate(0, 50rem); } }
  .location__slide {
    display: none;
    margin: 0 auto;
    width: 75%; }
  .location__prev {
    left: 10%; }
  .location__next {
    right: 10%; }

.guideline-details {
  max-width: 114rem;
  margin: 0 auto;
  padding: 2rem 5rem; }
  @media only screen and (max-width: 900px) {
    .guideline-details {
      width: 90%;
      margin: 0 auto;
      padding: 2rem 2rem; } }
  .guideline-details__head {
    font-size: 3rem;
    color: #333;
    margin: 2rem 0rem; }
  .guideline-details__anchor {
    color: #2998ff; }
    .guideline-details__anchor:link, .guideline-details__anchor:vivited {
      text-decoration: none; }
    .guideline-details__anchor:hover {
      color: #5643fa; }

.sponsorship {
  max-width: 114rem;
  margin: 0 auto;
  height: 70vh; }
  @media only screen and (max-width: 600px) {
    .sponsorship {
      height: 70vh; } }
  @media only screen and (max-width: 400px) {
    .sponsorship {
      height: 70vh; } }
  .sponsorship__info {
    width: 80%;
    margin: 0 auto;
    font-size: 2.7rem;
    margin-top: 10rem; }
    @media only screen and (max-width: 600px) {
      .sponsorship__info {
        width: 65%;
        margin-top: 5rem;
        font-size: 2.4rem; } }
    @media only screen and (max-width: 400px) {
      .sponsorship__info {
        width: 65%;
        margin-top: 3rem;
        font-size: 2rem; } }
  .sponsorship__link:link {
    color: #5643fa; }
  .sponsorship__link:hover {
    color: #2998ff; }

.about-information {
  max-width: 114rem;
  margin: 0 auto;
  padding: 2rem 0rem; }
  @media only screen and (max-width: 600px) {
    .about-information {
      width: 90%;
      margin: 0 auto; } }
  @media only screen and (max-width: 600px) {
    .about-information {
      width: 90%; } }

.about-text {
  padding: 2rem 10rem; }
  @media only screen and (max-width: 600px) {
    .about-text {
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 600px) {
    .about-text {
      padding: 2rem 2rem; } }

.container {
  display: block;
  margin: 0 auto;
  max-width: 114rem;
  padding: 2rem 10rem; }
  @media only screen and (max-width: 900px) {
    .container {
      width: 90%;
      padding: 2rem 6rem; } }
  @media only screen and (max-width: 600px) {
    .container {
      width: 90%;
      padding: 2rem 4rem; } }
  @media only screen and (max-width: 400px) {
    .container {
      width: 90%;
      padding: 2rem 1.4rem; } }

.special {
  display: block;
  width: 100%;
  height: auto;
  padding: 2rem; }
  .special__head {
    font-size: 2.7rem;
    font-weight: 400; }

.papers {
  display: block;
  padding: 2rem; }
  .papers__head {
    font-size: 2.7rem;
    font-weight: 400; }
  .papers .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.6rem;
    height: auto; }
    @media only screen and (max-width: 900px) {
      .papers .grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 600px) {
      .papers .grid {
        display: block;
        margin-bottom: 2rem; } }
    .papers .grid .card {
      display: block;
      box-shadow: 0 1.5rem 4rem rgba(20, 40, 80, 0.12);
      width: 100%;
      padding: 2rem;
      transition: transform .3s;
      background: #f6f6f6;
      backface-visibility: hidden; }
      .papers .grid .card:hover {
        transform: translateY(-0.2rem) scale(1.01); }
      .papers .grid .card__head {
        font-size: 2.3rem;
        font-weight: 400; }
      .papers .grid .card__info {
        font-size: 1.8rem; }

.working {
  display: block;
  margin: 2rem 0; }
  .working__head {
    font-size: 2.7rem;
    font-weight: 400; }

.pub__head {
  font-size: 2.7rem;
  font-weight: 400; }
