.navbar {
  width: 100%;
  min-height: 10vh;
  background: $primary-color;
  font-size: 1.75rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid black;;

  &__left {
    ul {
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
    }
    li {
      transform: translate(2rem, 0);
      float: left;
    }
  }

  &__right {
    position: relative;

    ul {
      list-style-type: none;
      margin: 0 auto;
      overflow: hidden;
    }
    li {
      transform: translate(-5rem, 0);
      float: right;
    }
    @include respond(tablet) {
      display: none;
    }
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1.6rem;
    text-decoration: none;
    &:hover {
      background-color: $light-blue;
    }
  }

  &__icon {
    display: none;
    color: white;
    font-size: 2rem;
    padding: 1rem 1.6rem;
    @include respond(tablet) {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-2rem, 0);
      display: block;
    }
  }

  &__responsive {
    position: absolute;
    li {
      @include respond(tablet) {
        display: block;
        transform: translate(0, 0);
        position: relative;
        float: none;
      }
    }
  }

  &__responsive &__icon {
    @include respond(tablet) {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-2rem, 0);
      display: block;
    }
  }

  &__responsive &__right {
    @include respond(tablet) {
      position: relative;
      float: none;
      display: block;
    }
  }
}
