$text-color: #333;
$primary-color: #142850;
$secondary-color-light: #2998ff;
$secondary-color-dark: #5643fa;
$light-white-color:rgb(233, 217, 217);
$color-white:#fff;
$color-black:#000;
$light-blue:#27496d;
