.hero-box {
  color: $light-white-color;
  height: 90vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5),
      rgba($secondary-color-dark, 0.8)
    ),
    url("../img/clouds-dawn-dusk-electricity-157039.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__dates {
    font-size: 2.2rem;
    margin: 2rem 0rem;
    font-weight: 400;
    text-align:center;
    

    span {
      font-weight: 700;
      @include respond(phone){
        display:block;
      }
    }
  }
  &__venue {
    font-size: 2.2rem;
    font-weight: 400;
    text-align:center;
    span{
        font-weight: 700;
         @include respond(phone){
        display:block;
      }
    }
  }
}
