.about-information{
    max-width:114rem;
    margin:0 auto;
    padding:2rem 0rem;
     @include respond(phone){
        width:90%;
        margin:0 auto;
        
    }
    @include respond(phone){
        width:90%;
        
    }

}
.about-text{
    padding:2rem 10rem;
     @include respond(phone){
        padding:2rem 1rem;
        
    }
    @include respond(phone){
        padding:2rem 2rem;
        
    }
   
}

.logo{
    width:15rem;
   margin:0 auto;
   
    img{
       width:15rem;;
       text-align: center;;
    }
}