.header-box{
    height:100vh;
}
.section-about{
    max-width:114rem;
    margin:0 auto;
    padding:4rem 8rem;
   
     @include respond(large-desktop){
        padding:10rem 10rem;
        
    }
    @include respond(tablet){
        width:90%;
        margin:0 auto;
        padding:8rem 5rem;
    }
    @include respond(phone-sm){
        padding:8rem 2rem;
    }
}

.section-dates{
    max-width:114rem;
    margin:0 auto;
    padding:2rem 8rem;
   
 
}