.guideline-details {
  max-width: 114rem;
  margin: 0 auto;
  padding:2rem 5rem;
    @include respond(tablet){
        width:90%;
        margin:0 auto;
        padding:2rem 2rem;
    }
    @include respond(mobile-sm){
        width:100%;
        margin:0 auto;
        padding:2rem 0rem;
    }

  &__head{
      font-size:3rem;
      color:$text-color;
      margin:2rem 0rem;
  }
  &__anchor{

      &:link,&:visited{
        color:$secondary-color-light;
        text-decoration:none;
      }
      &:hover,&:active{
          color:$secondary-color-dark;
      }
  }
}
