.points{
    margin-left:2rem;
    &__point{
        margin:0.5rem 0rem;
        font-size:2rem;
        color: $text-color;
        font-weight:400;
        padding-left:0.5rem;
    }
}

.template{
    color:$secondary-color-light;
      &:link,&:visited{
         text-decoration: none; 
      }
      &:hover,&:active{
          color:$secondary-color-dark;
      }
    
}